
spring:
  application:
    name: api
  datasource:
    url: jdbc:mysql://localhost:3306/dota?useUnicode=true&characterEncoding=utf8&createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
logging:
  level:
    org.hibernate: TRACE
server:
  port: 0
eureka:
  instance:
    instance-id: ${spring.application.name}:${random.int}
